* {
  margin: 0;
  padding: 0;
}
header {
  background-color: DeepSkyBlue;
  position: fixed;
  width: 100%;
  height: 150px;
  z-index: 1;
}
.vide1 {
  background-color: SandyBrown;
  height: 800px;
  z-index: 0;
}
.vide2 {
  background-color: DeepSkyBlue;
  height: 200px;
  z-index: 0;
}
.vide3 {
  background-color: SandyBrown;
  height: 900px;
  z-index: 0;
}
footer {
  background-color: LawnGreen;
  height: 150px;
}
.foot {
  bottom: -97%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
